.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: $color-black, $alpha: 0.8);
  z-index: 9999;
  @include hideElement;
  transition: all 0.3s;

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color: $color-black, $alpha: 0.3);
  }

  &:target {
    @include showElement;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;

      @include respond(tab-land) {
        top: 1.5rem;
      }
    }
    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    @include hideElement;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
    border-radius: 0.3rem;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
    // transform is already in abscenter mixin but a given element can only have one transform; If more than one, then second will over-ride the first. but here we want both transform. hence we are duplicating the code. This is the only way.
  }
  &:target &__content {
    // when popup opens, do something to the content inside the popup.
    @include showElement;
    // transition: all 0.4s 0.2s;
    transform: translate(-50%, -50%) scale(1);
  }
  &__left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab-land) {
      height: 20rem;
      width: 100%;
      display: block;
    }
  }
  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      width: 100%;
      display: block;
      padding: 3rem 1.5rem;
    }
  }
  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      height: 100%;
      float: left;
      margin-top: 5rem;
      width: 33.3333%;
      display: inline-block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.1rem solid $color-grey-light-2;
    hyphens: auto;
  }

  &__title {
    @include respond(tab-land) {
      @include relCenter;
    }
  }

  &__book-now-btn {
    @include respond(tab-land) {
      @include relCenter;
    }
  }
}
